<container>
    <h2>Order Details</h2>
    <h5 >Order ID: <span><%= orderId %></span></h5>
    <h5 >Date: <span><%= orderDate %></span></h5>
    <h5 >Name: <span><%= customerName %></span></h5>
    <h5 >Contact: <span><%= customerContact %></span></h5>
    <div >
        <h2>Items</h2>
        <table style="width: 90%;">
            <thead>
                <th>
                    <tr style="border-bottom: 1px solid rgba(0, 0, 0, 0.8); padding-bottom: 5px; margin-bottom: 5px;">
                        <th style="padding-left: 5px; padding-right: 5px; text-align: left;">Product</th>
                        <th style="padding-left: 5px; padding-right: 5px; text-align: left;">Quantity</th>
                        <th style="padding-left: 5px; padding-right: 5px; text-align: left;">Price</th>
                        <th style="padding-left: 5px; padding-right: 5px; text-align: left;">Offer</th>
                        <th style="padding-left: 5px; padding-right: 5px; text-align: left;">Total</th>
                    </tr>
                </th>
            </thead>
            <tbody>
                <% orderItems.map((item , index) => ( %>
                 <tr style="border-bottom: 1px solid rgba(0, 0, 0, 0.8); padding-bottom: 5px; margin-bottom: 5px;">
                    <td style="text-align: left; padding-left: 5px; padding-right: 5px;"><%= item.product %></td>
                    <td style="text-align: left; padding-left: 5px; padding-right: 5px;"><%= item.qty %></td>
                    <td style="text-align: left; padding-left: 5px; padding-right: 5px;"><%= item.price %></td>
                    <td style="text-align: left; padding-left: 5px; padding-right: 5px;"><%= item.offer %></td>
                    <td style="text-align: left; padding-left: 5px; padding-right: 5px;"><%= item.total %></td>
                </tr>
                <% )) %>
            </tbody>
        </table>
    
        <h3>Total: <%= orderTotal %></h3>
        <h5>Shipping Details</h5>
        <p><%= streetAddres %></p>
       <p><%= floorOrApartment %></p>
       <p><%= city %></p>
       <p><%= postalCode %></p>
       <h5>Payment Details</h5>
        <p><%= paymentType %></p>
        <p><%= paymentStatus %></p>
</container>